h1 {
    background-color: #ff6b6b;
}

h2 {
    background-color: #8686ff;
}

h3 {
    background-color: #77ff77;
}

em {
    background-color: #000000;
    color: #FFFFFF;
}

ul {
    background-color: #ff77ff;
}

sus {
    background-color: #2d6c54;
}