h1 {
    background-color: #ff6b6b;
    text-align: center;
}

h2 {
    background-color: #8686ff;
    text-align: center;
}

h3 {
    background-color: #77ff77;
    text-align: center;
}

.grey-indent {
    background-color: #8e8e8e;
}

em {
    background-color: #000000;
    color: #FFFFFF;
}

ul {
    background-color: #ff77ff;
}

.yellow-for-js {
    background-color: #ffc400;
}

.centered-button {
    display: flex;
    justify-content: center;
}

button {
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    transition: background-color 0.5s ease; /* Animation */
    border-radius: 12px;
    
}

button:hover {
    background-color: #008369; /* Darker green */
}

body {
    background-color: #7b7b7b;
    font-family: "Futura", sans-serif;
}

input[type="number"] {
    background-color: #b1f9ff; /* White */
    color: #000000; /* Black */
    border-radius: 5px; /* Rounded corners */
    border: 1px solid #000000; /* Black border */
    text-align: center;
    width: 45px; /* Width of the text box */
    height: 15px; /* Height of the text box */
}
