h1 {
    background-color: #ff6b6b;
    text-align: center;
}

h2 {
    background-color: #8686ff;
    text-align: center;
}

h3 {
    background-color: #77ff77;
    text-align: center;
}

em {
    background-color: #000000;
    color: #FFFFFF;
}

ul {
    background-color: #ff77ff;
}

.yellow-for-js {
    background-color: #ffc400;
}

.grey-indent {
    background-color: #8e8e8e;
}

body {
    background-color: #7b7b7b;
    font-family: "Futura", sans-serif;
}

