h1 {
    color: crimson;
    text-decoration-line: underline;
    text-decoration-style: double;
}

h2 {
    color: rgb(0, 28, 189);
    text-decoration: underline;
}

h3 {
    text-decoration: underline;
}

h4 {
    text-decoration: underline;
    color: rgb(91, 91, 91);
}

#map-container {
    display: flex;
    justify-content: center;
    height: 50vh; /* Adjust this value to your liking */
}

#map { 
    height: 400px; 
    width: 80%;
}

body {
    font-family: Futura;
    margin: 0;
    padding: 0;
    background-color: rgb(229, 229, 229);
    text-align: center;
}